.navbar-brand {
  color: rgb(255, 255, 255);
}
  
.black-text {
  color: rgb(255, 255, 255);
}
  
.nav-link active black-text {
  color: rgb(255, 255, 255);
}

.nav-item, .navbar-brand {
  font-family:'Times New Roman', Times, serif
}

.nav-item {
text-emphasis-color: white;
color: white;
}

a.navbar-brand {
  padding-left: 300px;
}

.nav-link-mx-2 {
  text-align: center; /* Center-align the text */
  color: rgb(255, 255, 255);
  padding: 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
  