@import "./_variables";

#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
}

body {
  overflow: hidden;
  height: 100vh;
  //width: 100vw;
  margin-left: 7rem; //para que no considere el ancho del sidebar
  font-family: $fontNormal;
  background-color: $rosaClaro;
  text-transform: capitalize;
}

div {
  word-wrap: break-word;
  //width: 100px;
}

h1 {
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  //align-items: center;
  justify-content: center;
  font-family: $fontEspecial;
}

.temporal {
  color: #888;
}