@import "./_variables";

#root {
  //max-width: 100%;
}

// Sección 1: Base
body {
  //overflow: hidden;
  height: 100vh;
  margin-left: 17rem;
  font-family: $fontNormal;
  background-color: $rosaClaro;
  text-transform: capitalize;
}

div.paginas {
  max-width: 100%;
}


// Sección 2: Texto
h1 {
  color: black;
  //display: flex;
  //justify-content: center;
  font-size: 3rem;
  font-family: $fontEspecial;
  max-width: calc(100% - 19rem) !important;
}


.paginas {
  h2 {
    color: black;
    //display: flex;
    //justify-content: center;
    font-size: 1.5rem;
    margin: 1rem 8.3rem 0.5rem 2rem;
    font-family: $fontEspecial;
    max-width: calc(100% - 19rem) !important;
  }

  p {
    color: black;
    margin: 0 8.3rem 0 2rem;
  }
}

