@import "./_variables";


.sidebar {
    background-color: $azul;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0rem 1%;
    width: 14rem;
    height: 100vh;

    //Area 1: Logo h: 3 rem
    .logoContainer {
        display: flex;
        align-items: center;

        h2.title {
            font-size: 1.3rem;
            color: $azulClaro;
            text-shadow: 0 0 0.5rem rgba($azulClaro, 0.4);
            padding: 1.5rem 0rem 0rem 0rem;
        }

        .logo {
            height: 3.5rem;
            padding: 1.5rem 1rem 0rem 1rem;
          }
          .logo:hover {
            filter: drop-shadow(0 0 0.7rem rgba($azulClaro, 0.6));
          }

    }

    //Area 3: Texto Perfil h: 2 rem
    .profileContainer {
        padding: 2rem 0 1rem 0;

        .profileContents {
            text-align: center;
            p.name {
                font-size: 1.1rem;
                color: rgba($rosaClaro, 1);
                text-transform: capitalize;
                font-weight: $heavyFont;

                text-shadow: 
                    -0.1rem -0.1rem 0 rgba($rosa, 1),
                    0.1rem -0.1rem 0 rgba($rosa, 1),
                    -0.1rem 0.1rem 0 rgba($rosa, 1),
                    0.1rem 0.1rem 0 rgba($rosa, 1);
            }

        }
    }
    
    //Area 4: Navegador
    .contentsContainer {

        ul {
            //display: flex;
            flex-direction: column;
            padding: 0;

            li {
                display: flex;
                //align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                // restarle 7.4 rem
                //margin: 0rem 0; //no se considera en el click, se considera desde el fin de la imagen
                padding: calc((100vh /9) - 3.5rem) 0; //se considera en el click, se considera desde el centro
                width: 100%;
                border-radius: 0.9rem;
                cursor: pointer;

                // Hex color to filter values: https://codepen.io/sosuke/pen/Pjoqqp 
                .SideBarSVG {
                    padding: 0 0.7rem 0 1rem;
                    width: 29px;
                    filter: $azulClaroF;
                }
                
                a {
                    text-decoration: none;
                    color: rgba($azulClaro, 0.95);
                    font-size: 1.05rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 0 0.5rem;
                }
            }

            li:hover {
                background-color: $rosa;
                transition: 0.25s;
                a {
                    color: $rosaClaro;
                }
                .SideBarSVG {
                    filter: $rosaClaroF;
                }
            }

        }
    }
}

