@import "./_variables";


.sidebar {
    background-color: $azul;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0rem 1%;
    width: 220px;
    //height: 100vh;
    //transition: 0.5s all;

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $azulClaro;

        h2.title {
            font-size: 1.3rem;
            color: $rosaClaro;
            text-shadow: 0 0 0.5rem rgba($azulClaro, 0.4);
            padding: 1.5rem 0rem 0rem 0rem;
        }

        .logo {
            height: 3.5rem;
            padding: 1.5rem 1rem 0rem 1rem;
            /*
            will-change: filter;
            transition: filter 300ms;
            */
          }
          .logo:hover {
            filter: drop-shadow(0 0 0.7rem rgba($azulClaro, 0.6));
          }

    }



    //Boton y movimiento raya
    /*
    .burgerContainer {
        content: "";
        background-color: $rosa;
        position: absolute;
        right: calc(-35px / 2);
        top: calc(9rem / 1.15);
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1;

        .burgerTrigger {
            content: "";
            width: 35px;
            height: 35px;
            background-color: red;
            cursor: pointer;
            z-index: 6;
            opacity: 0;
            position: relative;
        }

        .burgerMenu {
            content: "";
            background-color: $rosa;
            position: relative;
            z-index: 1;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            bottom: calc(35px / 2);
            left: 0.45rem;
            transition: 0.5s all;
        }

        .burgerMenu::after {
            content: "";
            background-color: $rosaClaro;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: 0.4rem;
            transform: translateY(-0.4rem) rotate(45deg);
            transition: 0.5s all;
        }

        .burgerMenu::before {
            content: "";
            background-color: $rosaClaro;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: -0.4rem;
            transform: translateY(0.4rem) rotate(-45deg);
            transition: 0.5s all;
        }
    }
    */
    
    //Raya
    /*
    .burgerContainer::after {
        content: "";
        position: absolute;
        right: 35px;
        top: calc(35px / 2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: $lightGrey;
        height: 2px;
        transition: 0.5s all;
    }
    */

    //Texto Perfil
    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        //height: 100vh; /* 100% of the viewport height */
        padding: 2rem 0 0 0;

        .profileContents {

            text-align: center;

            p.name {
                padding: 0;
                margin: 0;
                font-size: 17px;
                color: rgba($rosaClaro, 1);
                text-transform: capitalize;
                font-weight: $heavyFont;

                text-shadow: 
                    -1.5px -1.5px 0 rgba($rosa, 1),
                    1.5px -1.5px 0 rgba($rosa, 1),
                    -1.5px 1.5px 0 rgba($rosa, 1),
                    1.5px 1.5px 0 rgba($rosa, 1);
            }

        }
    }
    

    .contentsContainer {
        margin: 2rem 0 0 0;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 0.75rem 0;
                padding: 0.8rem 0;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;

                img {
                    padding: 0 0.7rem 0 0.5rem;
                    width: 29px;
                }

                a {
                    text-decoration: none;
                    color: rgba($azulClaro, 0.95);
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 0 0.5rem;
                }
            }
            /*
            li.active {
                background-color: $rosa;

                a {
                    color: $rosa;
                }
            }
            */
            li:hover {
                background-color: $rosa;
                transition: 0.25s;
                a {
                    color: $rosaClaro;
                }
            }
        }
    }
}

.sidebar.active {
    width: 3rem;
    transition: 0.5s all;

    .logoContainer.active {
        h2.title {
            opacity: 0;
        }
    }

    .burgerContainer.active {
        transition: 0.5s all;
        .burgerMenu {
            background-color: $rosaClaro;
            transition: 0.5s all;
        }

        .burgerMenu::before {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }

        .burgerMenu::after {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }
    }

    .profileContainer {
        .profileContents {
            opacity: 0;
        }
    }

    .contentsContainer {
        a {
            opacity: 0;
        }
    }
}
